

.box-appear {
  opacity: 0;
  transform: scale(0.8);
  animation: boxAppear 0.8s ease-out 1.2s forwards;
}

@keyframes boxAppear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.line-draw {
  width: 0;
  animation: drawLine 1s ease-out 1.5s forwards;
}

@keyframes drawLine {
  to {
    width: 400px;
  }
}

.arrow-draw {
  width: 0;
  animation: drawArrow 0.6s ease-out forwards;
}

@keyframes drawArrow {
  to {
    width: 200px;
  }
}
.arrow-draw-2 {
  width: 0;
  animation: drawArrow2 0.6s ease-out forwards;
  animation-delay: 3.5s;
}

@keyframes drawArrow2 {
  to {
    width: 80px;
  }
}
.sub-image-animation {
  width: 0;
  animation: sub-image-animation 0.5s ease-out forwards;
  animation-delay: 4s;
}

@keyframes sub-image-animation {
  to {
    opacity: 1;
  }
}

.icon-popup {
  opacity: 0;
  animation: showIcon 0.2s ease-out forwards;
  animation-delay: 2.9s;
}

@keyframes showIcon {
  to {
    opacity: 1;
  }
}

.delay-1 {
  animation-delay: 2.6s;
}
